# Ignore everything
*

# Allow files and folders with a pattern starting with !

!Language-Detector/models/Hansard-Multi30k/*
!Language-Detector/src/dataloader/*
!Language-Detector/src/model/*

!Language-Detector-Webapi/app.py
!Language-Detector-Webapi/models.py
!Language-Detector-Webapi/requirements.txt

!Translator/models/Hansard-Multi30k/*
!Translator/src/dataloader/*
!Translator/src/model/*

!Translator-Webapi/app.py
!Translator-Webapi/models.py
!Translator-Webapi/requirements.txt

!Webapp/static/
!Webapp/templates/
!Webapp/app.py
!Webapp/models.py
!Webapp/requirements.txt